NODE_ENV=development
APP_VERSION=0.1.0
SERVICE_NAME=inventory-service
PORT=3002
DATABASE_HOST=localhost
DATABASE_PORT=5434
DATABASE_NAME=inventory_service
DATABASE_USER=inventory_user
DATABASE_PASSWORD=inventory_password
DATABASE_SSL=false
KAFKA_BROKERS=localhost:19092
KAFKA_CLIENT_ID=inventory-service
KAFKA_CONSUMER_GROUP_ID=inventory-service
