NODE_ENV=development
APP_VERSION=0.1.0
SERVICE_NAME=management-service
PORT=3003
DATABASE_HOST=localhost
DATABASE_PORT=5435
DATABASE_NAME=management_service
DATABASE_USER=management_user
DATABASE_PASSWORD=management_password
DATABASE_SSL=false
KAFKA_BROKERS=localhost:19092
KAFKA_CLIENT_ID=management-service
KAFKA_CONSUMER_GROUP_ID=management-service
