NODE_ENV=development
APP_VERSION=0.1.0
SERVICE_NAME=checkout-service
PORT=3001
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=checkout_service
DATABASE_USER=checkout_user
DATABASE_PASSWORD=checkout_password
DATABASE_SSL=false
KAFKA_BROKERS=localhost:19092
KAFKA_CLIENT_ID=checkout-service
KAFKA_CONSUMER_GROUP_ID=checkout-service
